* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(247, 244, 244);
  background: linear-gradient(
    143deg,
    rgba(247, 244, 244, 1) 0%,
    rgba(228, 221, 218, 1) 75%,
    rgba(244, 244, 244, 1) 100%
  );
}

header {
  margin: 20px;
  padding: 50px;
  top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  border-bottom: #353535 solid 1px;
}

a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:visited {
  color: black;
}
a:hover {
  transform: translateY(-5px);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
select {
  height: 100%;
  width: 300px;
  font-size: 18px;
  margin: 0;
}
input {
  height: 100%;
  width: 300px;
  font-size: 18px;
  margin: 0;
}
button {
  height: 100%;
  color: #eee;
  background-color: #353535;
  margin: 0;
  padding: 15px;
  vertical-align: top;
}
form {
  margin: 55px;
}
.textbody {
  margin: 50px;
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-1500%);
  }
  50% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

#a1 {
  animation: 3s ease-out -0s 1 slideInFromTop;
}
#a2 {
  animation: 3s ease-out -0.5s 1 slideInFromTop;
}
#a3 {
  animation: 3s ease-out -1s 1 slideInFromTop;
}
#a4 {
  animation: 3s ease-out -1.5s 1 slideInFromTop;
}
#a5 {
  animation: 3s ease-out -2s 1 slideInFromTop;
}

h1 {
  animation: 3s ease-out 0s 1 slideInFromBottom;
  text-align: left;
  font-size: 125px;
  margin: 30px;
  margin-left: 230px;
  margin-right: 230px;
  background: #353535;
  background: linear-gradient(
    143deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(200, 64, 0, 1) 75%,
    rgba(155, 118, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  margin-top: 10px;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}
td {
  padding: 5px;
  border: #353535 solid 1px;
}
.staffCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 480px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: #585858;
  color: #eee;
  border-radius: 5px;
}

.staffCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.graph-bar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
  background-color: rgba(255, 112, 21);
  margin-right: 2px;
}
.graph-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
  padding: 20px 40px 20px 40px;
  border-bottom: 1px solid #353535;
}
